.upsell-products {
    margin-bottom: 40px;
}

.related-product {
    .product-style-1 {
        margin-bottom: 0;
    }

    .addon-title {
    	.title {
    		margin-bottom: 30px;
    		font-size: 30px;
    		font-weight: 800;
    	}
    }
}

.hr-pt-single {
	border: 0;
    border-top: 1px solid #ebebeb;
    margin-top: 54px;
    margin-bottom: 92px;
}