/** ------------------------------------------------------------------------------------------------
* TESTIMONIAL
* ------------------------------------------------------------------------------------------------ */

.jmstestimonial-box {


    .addon-title {
        margin-bottom: 10px;

        h3 {
            position: relative;
            font-size: 27px;
            padding-bottom: 16px;
            margin: 0;

            &:after {
                content: '';
                width: 43px;
                height: 2px;
                background-color: #d7d7d7;
                margin: 0 auto;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }

    }
    .owl-theme .owl-nav [class*="owl-"].owl-prev{
        left: 0;
    }
    .owl-theme .owl-nav [class*="owl-"].owl-next{
        right: 0;
    }
}

.testimonial-box {
    padding-left: 20px;
    padding-right: 20px;
    .testimonials-avatar-box{
        display: flex;
        justify-content: center;
    }

    .testimonial-avatar {
        img {
            max-width: 75px;
            display: inline-block;
            border-radius: 50%;
            border: 2px solid;
            @extend .border-primary-color;
        }
    }

    .testimonials-title {
            margin-top: 15px;
            font-weight: 600;
            padding-left: 15px;
            text-align: left;
            &.no_image{
                padding: 0;
                text-align: center;
            }
            .name {
                line-height: 1.4;
                font-size: 17px;
                font-weight: 600;
                margin-bottom: 3px;
                color: #444;
                @extend .primary-font;
            }

            .office {
                font-weight: 500;
                font-size: 12px;
                color: #4a4a4a;
                font-style: italic;
            }

            span {
                display: block;
            }
        }

    .testimonial-content {
        margin: 20px 0 30px;
        &.testimonial-content-top{
            margin: 10px 0 20px;
        }
        p{
            margin: 0;
        }
    }
}

.testimonials-color-light {
    .addon-title h3 {
        color: white;

        &:after {
            background-color: white;
        }
    }

    .testimonial-content {
        color: rgba(255, 255, 255, 0.75);

        footer {
            color: white;

            .office {
                color: rgba(255, 255, 255, 0.75);
            }

            > span {
                color: rgba(255, 255, 255, 0.75);
            }
        }
    }
}

.testimonials-align-center {
    .addon-title {
        text-align: center;
    }

    .testimonials {
        text-align: center;

        .testimonial-avatar {
            margin-bottom: 15px;
        }
    }
}

.testimonials-align-left,
.testimonials-align-right {

    .testimonial-inner {
        display: flex;
        align-items: stretch;
    }

    .testimonial-avatar {
        flex:0 0 auto;
    }

    .testimonial-content {
        flex:1 1 auto;
    }
}


.testimonials-align-left {
    .addon-title {
        text-align: left;
    }

    .testimonials {
        text-align: left;
    }

    .testimonial-inner {
        flex-direction: row;
    }

    .testimonial-avatar {
        margin-right: 20px;
    }
}

.testimonials-align-right {
    .addon-title {
        text-align: right;
    }

    .testimonials {
        text-align: right;
    }

    .testimonial-inner {
        flex-direction: row-reverse;
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
    }

    .testimonial-avatar {
        margin-left: 20px;
    }
}

.testimonials-grid {

    .testimonials {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        flex-wrap: wrap;
        margin-left: -20px;
        margin-right: -20px;
    }

    .testimonial-box {
        margin-bottom: 30px;
    }

    &.testimonials-columns-1 {

        .testimonial-box {
            flex-basis: 100%;
            max-width: 100%;
            width: 100%;
        }
    }

    &.testimonials-columns-2 {

        .testimonial-box {
            flex-basis: 50%;
            max-width: 50%;
            width: 50%;
        }
    }

    &.testimonials-columns-3 {

        .testimonial-box {
            flex-basis: 33.33333333%;
            max-width: 33.33333333%;
            width: 33.33333333%;
        }
    }

    &.testimonials-columns-4 {

        .testimonial-box {
            flex-basis: 25%;
            max-width: 25%;
            width: 25%;
        }
    }

    &.testimonials-columns-5 {

        .testimonial-box {
            flex-basis: 20%;
            max-width: 20%;
            width: 20%;
        }
    }

    &.testimonials-columns-6 {

        .testimonial-box {
            flex-basis: 16.66666666%;
            max-width: 16.66666666%;
            width: 16.66666666%;
        }
    }
}

.testimonials-style-boxed {

    .testimonial-box {

        &:hover {

            .testimonial-inner {
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
            }
        }
    }

    .testimonial-inner {
        padding: 30px;
        background-color: white;
        box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
        @include transition(all 0.5s ease);
    }
}

.testimonials-style-primary.jmstestimonial-box {

    .pt-reviewsbox {

        .pt-reviewsbox-author {
            @extend .border-primary-color;
        }
        .pt-reviewsbox-description {
            @extend .background-primary-color;

            .pt-content {
                color: #ffffff;
            }

            .pt-reviewsbox-title {
                .pt-title {
                    color: #ffffff;  
                    position: relative;

                    &:before {
                        position: absolute;
                        bottom: 3px;
                        left: 0;
                        right: 0;
                        margin: auto;
                        width: 0%;
                        content: '';
                        color: transparent;
                        background-color: #fff;
                        height: 2px;
                        -webkit-transition: width .2s linear;
                        transition: width .2s linear;
                    }     
                }

                .pt-rating {
                    i.pt-star {
                        margin-left: 3px;
                        margin-right: 3px;
                        color: #ffffff;
                    }
                }
            }
        }

        &:hover {
            .pt-reviewsbox-title {
                .pt-title {
                    &:before {
                        width: 100%;
                    }
                }
            }
        }        
    }

    .testimonial-box {
        &:hover {
            .testimonial-inner {
                /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);*/
            }
        }
    }

    .testimonial-inner {

    }
}

.testimonials-slider {
    margin: 0 -15px;
    .testimonial-box {
        padding: 15px 0;
        color: initial;
    }

    .owl-theme {
        .owl-nav.disabled+.owl-dots {
            margin-top: 21px;
        }
    }
}

.jmstestimonial-box {
    .pt-reviewsbox {
        

        .pt-reviewsbox-description {
            background-color: #f8f8f8;
            
            > *:nth-child(1) {
                margin-top: 0;
            }
            .pt-reviewsbox-title {
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-direction: row;
                -ms-flex-direction: row;
                flex-direction: row;
                -webkit-flex-wrap: nowrap;
                -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
                -webkit-justify-content: space-between;
                -ms-flex-pack: justify;
                justify-content: space-between;
                -webkit-align-content: flex-start;
                -ms-flex-line-pack: start;
                align-content: flex-start;
                -webkit-align-items: flex-start;
                -ms-flex-align: start;
                align-items: flex-start;
                padding-bottom: 9px;    

                .pt-title {
                    font-size: 18px;
                    line-height: 26px;
                    color: $heading-color;
                    font-weight: 800;
                    padding-bottom: 1px;
                    margin-bottom: 0px;
                    position: relative;

                    &:before {
                        position: absolute;
                        bottom: 3px;
                        left: 0;
                        right: 0;
                        margin: auto;
                        width: 0%;
                        content: '';
                        color: transparent;
                        background-color: #333;
                        height: 2px;
                        -webkit-transition: width .2s linear;
                        transition: width .2s linear;                        
                    }
                }

                .pt-rating {
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-flex-direction: row;
                    -ms-flex-direction: row;
                    flex-direction: row;
                    -webkit-flex-wrap: nowrap;
                    -ms-flex-wrap: nowrap;
                    flex-wrap: nowrap;
                    -webkit-justify-content: flex-start;
                    -ms-flex-pack: start;
                    justify-content: flex-start;
                    -webkit-align-content: flex-start;
                    -ms-flex-line-pack: start;
                    align-content: flex-start;
                    -webkit-align-items: flex-start;
                    -ms-flex-align: start;
                    align-items: flex-start;   

                     i {
                        &.pt-star {
                            color: #FFBA0A;
                        }

                        &:not(.pt-star) {
                            color: #EBEBEB;
                        }
                     }
                    svg {
                        width: 16px;
                        height: 16px;
                    }                                     
                }
            }

            .pt-content {
                @extend .color-body-color;
                font-size: 18px;
                font-weight: 400;
                line-height: 28px;
            }
        }

        .pt-reviewsbox-author {
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            -webkit-align-content: flex-start;
            -ms-flex-line-pack: start;
            align-content: flex-start;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            position: relative;
            padding: 24px 10px 0 0;
            border-color: #f8f8f8;

            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 76px;
                top: 0;
                width: 0;
                height: 0;
                border-top: 17px solid #f8f8f8;
                border-color: inherit;
                border-right: 34px solid transparent;                
            }

            .pt-img {
                width: 80px;
                height: 80px;
                min-width: 80px;
                overflow: hidden;
                margin: 0 16px 0 0;
                border-radius: 50%;
            }  
            
            .pt-title {
                font-size: 13px;
                line-height: 19px;
                margin-top: -3px;
            }
        }   

        &:hover {
            .pt-reviewsbox-description {
                .pt-reviewsbox-title {
                    .pt-title {
                        &:before {
                            width: 100%;
                        }
                    }
                }
            }

            .pt-reviewsbox-author {
                .pt-title {
                    @extend .color-body-color;

                    strong {
                        color: #333;
                    }
                }
            }            
        }     
    }
}

@media (min-width: 576px) {
    .pt-reviewsbox .pt-reviewsbox-description {
        padding: 42px 40px 43px 53px;
    }
}


@media screen and (max-width: 450px){
    .testimonial-inner{
        display: inline-block !important;
    }
}