@mixin transition($transition) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

@mixin transform($transform) {
	-webkit-transform: $transform;
	-moz-transform: $transform;
	-o-transform: $transform;
	transform: $transform;
}

@mixin animation($animation) {
	-webkit-animation: $animation;
	-moz-animation: $animation;
	-o-animation: $animation;
	animation: $animation;
}

@mixin box-shadow($box-shadow){
	-webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    -o-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
}

@mixin appearance($appearance) {
	-webkit-appearance: $appearance;
	-moz-appearance: $appearance;
	-o-appearance: $appearance;
	appearance: $appearance;
}

@mixin align-items($value) {
	-webkit-box-align: $value;
	-webkit-align-items: $value;
	-ms-flex-align: $value;
	align-items: $value;
}

@mixin transition_image_hover() {
	-webkit-transition: transform 2s cubic-bezier(0,0,.44,1.18),-webkit-transform 2s cubic-bezier(0,0,.44,1.18);
	-moz-transition: transform 2s cubic-bezier(0,0,.44,1.18),-webkit-transform 2s cubic-bezier(0,0,.44,1.18);
	transition: transform 2s cubic-bezier(0,0,.44,1.18),-webkit-transform 2s cubic-bezier(0,0,.44,1.18);
}

@mixin flex() {
  	display: -webkit-box;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

/* Class Extend */

@for $i from 1 through 10 {
	$time_space: 100ms * $i;

    .transition#{$i} {
       @include transition(all $time_space ease-in-out 0s);
    }

}

.aligned_ver{
	position: absolute;
	top: 50%;
	@include transform(translateY(-50%));
}
.aligned_hoz{
	position: absolute;
	left: 50%;
	@include transform(translateX(-50%));
}


// BTN-SIZE
.btn-size-default {
    font-size: 11px;
    line-height: 16px;
    padding: 6px 10px;
}

.btn-size-extra-small {
 	font-size: 12px;
    line-height:16px;
    padding: 10px 14px;
}

.btn-size-small {
    font-size: inherit;
	line-height: 18px;
	padding: 12px 20px;
}

.btn-size-large {
    font-size: 13px;
    line-height:20px;
    padding: 14px 40px;
}

.btn-size-extra-large {
    font-size: 16px;
    line-height:22px;
    padding: 17px 40px;
}
.btn.btn-style-radius{
	border-radius: 40px;
}
.cubic-bezier{
	-webkit-transition: opacity .5s ease,transform 2s cubic-bezier(0,0,.44,1.18),-webkit-transform 2s cubic-bezier(0,0,.44,1.18);
    -moz-transition: opacity .5s ease,transform 2s cubic-bezier(0,0,.44,1.18),-webkit-transform 2s cubic-bezier(0,0,.44,1.18);
    transition: opacity .5s ease,transform 2s cubic-bezier(0,0,.44,1.18),-webkit-transform 2s cubic-bezier(0,0,.44,1.18);
}