/* ==========================================================================
   1.3 LINK
   ========================================================================== */

a {
	color: #333;
}

a, a:hover, a:focus, a:active {
	text-decoration: none;
	outline: 0;
}

a:hover, a:focus, a:active {
	@extend .color-primary-color;
}

p a {
	@extend .color-primary-color;

	/*unittest*/
	&:hover {
		color: #333;
	}
}
