@media screen and (min-width: 1119px) {
	.header-1 {
		.wrap-header .header-position {
			&.header-center {
			    -webkit-box-flex: 2;
			    -ms-flex: 2 1 auto;
			    flex: 2 1 auto;		
			    
			    .yanka-menu.primary-menu.menu-center {
			    	justify-content: left;
			    }		
			}
		}
	}
	body:not(.theme-yanka) {
		.header-1 .wrap-header .header-position.header-center {
			flex: none;
		}
	}
}
@media screen and (min-width: 911px) {
	.header-1 {
		.header-position.block-logo {
			margin-top: -12px;
		}
		.yanka-menu {
			&.primary-menu {
				> li {
					&.menu-home {
						.dropdown-menu {
							-webkit-transform: translateX(0%);
						    -moz-transform: translateX(0%);
						    -o-transform: translateX(0%);
						    transform: translateX(0%);
						}
					}
					&.menu-shop {
						.dropdown-menu {
							left: 0%;
						    -webkit-transform: translateX(0%);
						    -moz-transform: translateX(0%);
						    -o-transform: translateX(0%);
						    transform: translateX(0%);
						}
					}					
				}
			}
		}
	}
}

@media screen and (max-width: 1025px){
	.header-1 {
		.header-position.block-logo {
		    margin-top: 0;
		}
	}
	body:not(.theme-yanka) {
		.wrap-header .header-position.header-action .header-block.desctop {
			top: 10px;
    		right: 20px;
		}
	}	
}
@media screen and (max-width: 991px){
	.none-space-xs{
		display: none;
	}
}