.background-primary-color {
  background-color: #dc6978; }

.border-primary-color {
  border-color: #dc6978; }

.color-primary-color {
  color: #dc6978; }

.background-body-color {
  background-color: #000; }

.border-body-color {
  border-color: #000; }

.color-body-color {
  color: #000; }
